/* styles.css */

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 20px 0;
    color: #fcfafa;
    text-align: left;
}

header img {
    width: 150px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #faf6f6;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-image: url('chocolates-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #c01c1c;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #ff6347;
}

/* Featured Chocolates Section Styles */
.featured-chocolates {
    padding: 100px 0;
}

/* About Section Styles */
.about {
    background-color: #fe6262;
    padding: 100px 0;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

/* Contact Section Styles */
.contact {
    text-align: center;
    margin-top: 50px;
}

.contact h2 {
    color: #302c2c;
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b81818;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact button:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}
